.Footer {
  background-color: black;
  text-align: center;
  color: #eece1a;
  width: 100%;
  margin: 0;
  height: 25px;
  position: relative;
  bottom: 0;
}
.Footer p {
  display: block;
  box-sizing: border-box;
  margin: auto;
}
